* {
    margin: 0;
    padding: 0;
}

body {
    font: 18px Verdana;
    color: #FFF;
    background: #CCC;
}

.item-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#game-container {
    margin: 0px auto;
    position: relative;
    width: 100%;
}

#img-grid-container {
    z-index: 2000;
    height: 312px;
    width: 312px;
    top: 90px;
}

#img-grid-container div,
#targetImg {
    float: left;
    width: 100px;
    height: 100px;
    margin: 1px;
    padding: 0px;
    border: 1px solid green;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
    background: #B1B1B1;
    z-index: 2;
}

#targetImg {
    top: 445px;
    display: none;
}

#img-grid-container div img {
    display: block;
    border-radius: 10px;
    z-index: 3;
}

#button-container {
    text-align: center;
    margin: 20px 0;
    display: block;
    font-size: 16px;
}

#button-container .button {
    display: block;
    text-transform: capitalize;
    background: #B1B1B1;
    padding: 5px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
}

#button-container .button:hover {
    background: #999;
}

.loading {
    z-index: 2000;
    background: url(http://1.bp.blogspot.com/-nfXo9GWbDtM/VOn0vr4yLMI/AAAAAAAABCA/dDNgd7_QCFo/s1600/block-loader.gif) no-repeat center center;
    height: 32px;
    width: 32px;
}

.text-container,
.text-3,
.text-4 {
    width: 100%;
    text-align: center;
    top: 60px;
    color: black;
    font-size: 14px;
}

.text-3,
.text-4 {
    display: none;
}

.text-2 {
    display: none;
    top: 415px;
    color: black;
    font-size: 14px;
}

#success-text {
    color: black;
    font-size: 14px;
    padding-bottom: 5px;
}