* {
    margin: 0;
    padding: 0;
}

body {
    font: 18px Verdana;
    color: #FFF;
    background: #CCC;
}

#picbox {
    margin: 0px auto;
    width: 312px;
}

#boxcard {
    z-index: 1;
    margin: 10px 0 0;
}

#boxcard div,
#targetImg {
    float: left;
    width: 100px;
    height: 100px;
    margin: 1px;
    padding: 0px;
    border: 1px solid #EE872A;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
    background: #B1B1B1;
    z-index: 2;
}

#targetImg {
    position: relative;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#boxcard div img {
    display: none;
    border-radius: 10px;
    z-index: 3;
}

#boxbuttons {
    text-align: center;
    margin: 20px;
    display: block;
}

#boxbuttons .button {
    text-transform: uppercase;
    background: #EE872A;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}

#boxbuttons .button:hover {
    background: #999;
}