<div>
    <form action="updatebyid" method="post">
        <div>Name: </div> <div><input type="text" name='username' value="<%=name %>"/></div>
        <div>Organization: </div> <div><input type="text" name='company' value="<%=organization %>"/></div>
        <input type="hidden" name="userid" value="<%=_id%>"/>
        <input type="submit" value="Update"/>
    </form>
</div>