<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/worker.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="controller/worker.controller.js"></script>
    <script src="service/workerService.js"></script>
    <script src="controller/workers.json"></script>
</head>

<body ng-app="workerApp">
    <div class="container" ng-controller="WorkerController">

        <div class="row marketing">
            <div class="col-lg-6 outer-div"  ng-if="workersData.length">
                <div class="worker-div " ng-repeat="worker in workersData" ng-click="assignWorker(worker)">
                    <div>
                        <span class="name-span">{{worker.name}}</span>
                        <span class="mobile-span">{{worker.mobileNumber}}</span>
                    </div>
                    <div>
                        <span>{{worker.taskAssigned === ""? "Available": worker.taskAssigned}}</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 assign-div" ng-show="workAssigned">
                <br/>
                <p>Assign task to <span class="worker-name">'{{selectedWorker.name}}'</span></p>
                <form name="myForm">
                    Task Name: <br/>
                    <input type="text" name='taskName' ng-model="taskName" ng-required="true"><br/><br/>
                    Task duration (In Seconds):<br/>
                    <input type="text" name='time' ng-model="taskDuration" ng-required="true"><br/><br/>
                    <button ng-click="assignTask()" class="btn btn-primary" ng-disabled="myForm.$invalid"> Assign Task</button>
                </form>
            </div>
        </div>

    </div>
    <!--<div ui-view>-->
    </div>
</body>

</html>