body {
    font: 18px Verdana;
    color: #FFF;
    height: 100%;
    background: url('images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}


/* 
body::after {
    height: 100%;
    background: url('images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
} */

.item-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#game-container {
    margin: 0px auto;
    position: relative;
    width: 100%;
}

#img-grid-container {
    z-index: 2000;
    height: 312px;
    width: 312px;
    top: 90px;
}

#img-grid-container div,
#targetImg {
    float: left;
    width: 100px;
    height: 100px;
    margin: 1px;
    padding: 0px;
    border: 1px solid #8b6b6b;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
    background: rgba(123, 106, 99, 0.25);
    z-index: 2;
}

#targetImg {
    top: 445px;
    display: none;
}

#img-grid-container div img {
    display: block;
    border-radius: 10px;
    z-index: 3;
}

#button-container {
    text-align: center;
    margin: 20px 0;
    display: block;
    font-size: 16px;
}

#button-container .button {
    display: block;
    text-transform: capitalize;
    background: rgba(123, 106, 99, 0.25);
    padding: 5px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
}

#button-container .button:hover {
    background: #999;
}

#img-grid-container div.loader {
    z-index: 2000;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/loading.gif') no-repeat center center;
}

.text-container,
.text-3,
.text-4 {
    width: 100%;
    text-align: center;
    top: 60px;
    color: black;
    font-size: 14px;
}

.text-container {
    display: none;
}

.text-3,
.text-4 {
    display: none;
}

.text-2 {
    display: none;
    top: 415px;
    color: black;
    font-size: 14px;
}

#success-text {
    color: black;
    font-size: 14px;
    padding-bottom: 5px;
}